{% extends 'lunaro/base.html' %}
{% block title %}
    About
{% endblock title %}

{% block webpage_content %}
    <div class="container text-center">
        <h1>About Lunaro Tracker</h1>
        <h4>This is where everything started ...</h4>
        <hr>
        <p>Lunaro is a game mode for the game, called Warframe from Digital Extremes. I and my fellow ballers
            wanted to create a ranking system, that allows us to monitor players' progress, because Lunaro did not
            provide it.</p><br>
    </div>
{% endblock webpage_content %}