{% extends "lunaro/base.html" %}
{% block title %}
    Lunaro tracker
{% endblock title %}


{% block webpage_content %}
    <div class="container">
        <br>
        <a href="{% url "main" %}" class="btn btn-secondary">Back</a>
        <div class="text-center">
            <h1>Welcome to Lunaro tracker</h1>
            <hr>

            <h2>TOP PLAYERS</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Rank</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                <tr>

                    {% if player.rank <= 1500 %}
                    <td><a href="{% url 'player-details' player.pk %}" class="text-decoration-none text-neophyte">{{ player.name }}</p></td>

                    {% elif player.rank <= 1750 %}
                    <td><a href="{% url 'player-details' player.pk %}" class="text-decoration-none text-padawan">{{ player.name }}</p></td>

                    {% elif player.rank <= 2000 %}
                    <td><a href="{% url 'player-details' player.pk %}" class="text-decoration-none text-amateur">{{ player.name }}</p></td>

                    {% elif player.rank <= 2250 %}
                    <td><a href="{% url 'player-details' player.pk %}" class="text-decoration-none text-skilled">{{ player.name }}</p></td>

                    {% elif player.rank <= 2500 %}
                    <td><a href="{% url 'player-details' player.pk %}" class="text-decoration-none text-pro">{{ player.name }}</p></td>

                    {% elif player.rank <= 2750 %}
                    <td><a href="{% url 'player-details' player.pk %}" class="text-decoration-none text-master">{{ player.name }}</p></td>

                    {% else %}
                    <td><a href="{% url 'player-details' player.pk %}" class="text-decoration-none text-champion">{{ player.name }}</p></td>

                    {% endif %}

                    {% if player.rank <= 1500 %}
                    <td><p class="text-neophyte">{{ player.rank }} (Neophyte)</p></td>

                    {% elif player.rank <= 1750 %}
                    <td><p class="text-padawan">{{ player.rank }} (Padawan)</p></td>

                    {% elif player.rank <= 2000 %}
                    <td><p class="text-amateur">{{ player.rank }} (Amateur)</p></td>

                    {% elif player.rank <= 2250 %}
                    <td><p class="text-skilled">{{ player.rank }} (Skilled)</p></td>

                    {% elif player.rank <= 2500 %}
                    <td><p class="text-pro">{{ player.rank }} (Pro)</p></td>

                    {% elif player.rank <= 2750 %}
                    <td><p class="text-master">{{ player.rank }} (Master)</p></td>

                    {% else %}
                    <td><p class="text-champion">{{ player.rank }} (Champion)</p></td>

                    {% endif %}

                    
                    <td><a href="{% url 'player-details' player.pk %}" class="btn btn-outline-primary m-1">View</a></th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <h2 class="m-2">RECENT MATCHES</h2>
            <table class="table m-2">
                <thead>
                <tr>
                    <th scope="col">Player 1</th>
                    <th scope="col">Player 2</th>
                    <th scope="col">Score</th>
                    <th scope="col">
                    <th>
                </tr>
                </thead>
                <tbody>
                {% for match in matches %}
                <tr>
                    {% if match.player_a.rank <= 1500 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none text-neophyte d-inline-flex">{{ match.player_a }}</a></div></th>

                    {% elif match.player_a.rank <= 1750 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none text-padawan d-inline-flex">{{ match.player_a }}</a></div></th>

                    {% elif match.player_a.rank <= 2000 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none text-amateur d-inline-flex">{{ match.player_a }}</a></div></th>

                    {% elif match.player_a.rank <= 2250 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none text-skilled d-inline-flex">{{ match.player_a }}</a></div></th>

                    {% elif match.player_a.rank <= 2500 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none text-pro d-inline-flex">{{ match.player_a }}</a></div></th>

                    {% elif match.player_a.rank <= 2750 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none text-master d-inline-flex">{{ match.player_a }}</a></div></th>

                    {% else %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none text-champion d-inline-flex">{{ match.player_a }}</a></div></th>
                    {% endif %}



                    {% if match.player_b.rank <= 1500 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none text-neophyte d-inline-flex">{{ match.player_b }}</a></div></th>

                    {% elif match.player_b.rank <= 1750 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none text-padawan d-inline-flex">{{ match.player_b }}</a></div></th>

                    {% elif match.player_b.rank <= 2000 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none text-amateur d-inline-flex">{{ match.player_b }}</a></div></th>

                    {% elif match.player_b.rank <= 2250 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none text-skilled d-inline-flex">{{ match.player_b }}</a></div></th>

                    {% elif match.player_b.rank <= 2500 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none text-pro d-inline-flex">{{ match.player_b }}</a></div></th>

                    {% elif match.player_b.rank <= 2750 %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none text-master d-inline-flex">{{ match.player_b }}</a></div></th>

                    {% else %}
                    <td><div class="d-inline-flex"> <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none text-champion d-inline-flex">{{ match.player_b }}</a></div></th>
                    {% endif %}

                    <td><div class="d-inline-flex"><p class="text-sun d-inline-flex">{{ match.score_a }}</p><p class="text-muted d-inline-flex ms-2"> : </p><p class="text-moon d-inline-flex ms-2">{{ match.score_b }}</p></div></th>
                    <td><div class="d-inline-flex text-muted"><p class="d-inline-flex">{{ match.time }}</p></div></th>
                    <td><a href="{% url 'match-details' match.id %}" class="btn btn-outline-primary m-1">View</a> </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock webpage_content %}
