{% extends 'lunaro/base.html' %}

{% block title %}
    Match details
{% endblock %}

{% block webpage_content %}
    <div class="container">
        <div class="row d-flex m-2" style="width: 50rem;">
            <div class="card-body" style="width: 50rem">
                <h5 class="card-title text-neophyte mb-3"><strong>Match {{ match.id }}</strong></h5>
                
                <div class="row d-inline-flex m-2 p-3 card" style="width: 15rem;">
                    <div class="column-md-2 d-flex">

                        <a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none card-text d-inline mb-3 
                        {% if player.rank <= 1500 %}
                        text-neophyte
                        {% elif player.rank <= 1750 %}
                        text-padawan
                        {% elif player.rank <= 2000 %}
                        text-amateur
                        {% elif player.rank <= 2250 %}
                        text-skilled
                        {% elif player.rank <= 2500 %}
                        text-pro
                        {% elif player.rank <= 2750 %}
                        text-master
                        {% else %}
                        text-champion
                        {% endif %}
                        ">{{ match.player_a }}</a>

                    </div>
                    <div class="column-md-2 d-flex">
                        <p class="card-text d-inline">Goals: </p>
                        <p class="card-text d-inline ms-2 text-sun">{{ match.score_a }}</p>
                    </div>

                    <div class="column-md-2 d-flex">
                        <p class="card-text d-inline">Rank change: </p>

                        {% if match.delta_a > 0 %}

                        <p class="card-text d-inline ms-2 text-sun-light">+{{ match.delta_a }}</p>
                        
                        {% elif match.delta_a == 0 %}

                        <p class="card-text d-inline ms-2 text-sun">{{ match.delta_a }}</p>

                        {% elif match.delta_a < 0 %}

                        <p class="card-text d-inline ms-2 text-sun-dark">{{ match.delta_a }}</p>

                        {% endif %}

                    </div>
                </div>

                <div class="row d-inline-flex m-2 p-3 card" style="width: 15rem;">
                    <div class="column-md-2 d-flex">

                        {% if match.player_b.rank <= 1500 %}
                        <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none card-text d-inline mb-3 text-neophyte">{{ match.player_b }}</a>

                        {% elif match.player_b.rank <= 1750 %}
                        <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none card-text d-inline mb-3 text-padawan">{{ match.player_b }}</a>

                        {% elif match.player_b.rank <= 2000 %}
                        <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none card-text d-inline mb-3 text-amateur">{{ match.player_b }}</a>

                        {% elif match.player_b.rank <= 2250 %}
                        <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none card-text d-inline mb-3 text-skilled">{{ match.player_b }}</a>

                        {% elif match.player_b.rank <= 2500 %}
                        <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none card-text d-inline mb-3 text-pro">{{ match.player_b }}</a>

                        {% elif match.player_b.rank <= 2750 %}
                        <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none card-text d-inline mb-3 text-master">{{ match.player_b }}</a>

                        {% else %}
                        <a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none card-text d-inline mb-3 text-champion">{{ match.player_b }}</a>

                        {% endif %}
                    </div>
                    <div class="column-md-2 d-flex">
                        <p class="card-text d-inline">Goals: </p>
                        <p class="card-text d-inline ms-2 text-moon">{{ match.score_b }}</p>
                    </div>

                    <div class="column-md-2 d-flex">
                        <p class="card-text d-inline">Rank change: </p>

                        {% if match.delta_b > 0 %}

                        <p class="card-text d-inline ms-2 text-moon-light">+{{ match.delta_b }}</p>
                        
                        {% elif match.b == 0 %}

                        <p class="card-text d-inline ms-2 text-moon">{{ match.delta_b }}</p>

                        {% elif match.delta_b < 0 %}

                        <p class="card-text d-inline ms-2 text-moon-dark">{{ match.delta_b }}</p>

                        {% endif %}

                    </div>
                </div>

                <p class="card-text text-muted mt-3">Played at: {{ match.time }} UTC</p>
            </div>
        </div>
    </div>
{% endblock webpage_content %}