{% extends 'lunaro/base.html' %}

{% block title %}
    Matches
{% endblock title %}

{% block webpage_content %}
    <div class="container">

        <h1>Matches</h1><br>
        <table class="table">
            <thead>
            <tr>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <th>{{ match.player_a }}</th>
                    <th>{{ match.player_b }}</th>
                    <th>{{ match.score_a }} : {{ match.score_b }}</th>
                    <th><a href="{% url 'match-details' match.id %}">Show details</a> </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock webpage_content %}