{% extends 'lunaro/base.html' %}
{% load lunaro_extras %}

{% block title %}
    Matches
{% endblock title %}

{% block webpage_content %}
    <div class="container">

        <h1>Matches</h1><br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Player 1</th>
                <th scope="col">Player 2</th>
                <th scope="col">Score</th>
                <th scope="col">Time</th>
                <th scope="col"> <th>
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <td><div class="d-inline-flex"><a href="{% url 'player-details' match.player_a.pk %}" class="text-decoration-none text-{{match.player_a.rank|rank_to_name}}">{{ match.player_a }}</a></div></td>

                    <td><div class="d-inline-flex"><a href="{% url 'player-details' match.player_b.pk %}" class="text-decoration-none text-{{match.player_a.rank|rank_to_name}}">{{ match.player_b }}</a></div></td>

                    <td><div class="d-inline-flex"><p class="text-sun d-inline-flex">{{ match.score_a }}</p><p class="text-muted d-inline-flex ms-2"> : </p><p class="text-moon d-inline-flex ms-2">{{ match.score_b }}</p></div></td>
                    <td><div class="d-inline-flex text-muted"><p class="d-inline-flex">{{ match.time }}</p></div></td>
                    <td><a href="{% url 'match-details' match.id %}" class="btn btn-outline-primary m-1">View</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock webpage_content %}