{% extends 'lunaro/base.html' %}
{% block title %}
    Player Details
{% endblock title %}

{% block webpage_content %}
    <div class="container">
        <br>
        <div class="mb-2 mt-2 d-flex">
            <h2 class="d-inline-flex text-muted">Details of player:</h2>
            <h2 class="d-inline-flex ms-2"> {{ player.name }}</h2>
        </div>

        <div class="mb-2 mt-2 pt-2 pb-2">
        <div class="mb-2 mt-2 d-flex">
            <h4 class="d-inline-flex text-muted">Rank: </h4>
            <h4 class="d-inline-flex ms-2"> {{ player.rank }}</h4>
        </div>
        <h4 class="text-muted">Matches:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Player 1</th>
                    <th scope="col">Player 2</th>
                    <th scope="col">Score</th>
                    <th scope="col"> <th>
                </tr>
            </thead>
            <tbody>
            {% for match in player_matches %}
            <tr>
                <td><div class="d-inline-flex"><p class="text-sun d-inline-flex">{{ match.player_a }}</p></div></th>
                <td><div class="d-inline-flex"><p class="text-moon d-inline-flex">{{ match.player_b }}</p></div></th>
                <td><div class="d-inline-flex"><p class="text-sun d-inline-flex">{{ match.score_a }}</p><p class="text-muted d-inline-flex ms-2"> : </p><p class="text-moon d-inline-flex ms-2">{{ match.score_b }}</p></div></th>
                <td><a href="{% url 'match-details' match.id %}" class="btn btn-outline-primary m-1">View</a> </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock webpage_content %}